/* XX-Large devices (large desktops, less than 1600px) */
@media (max-width: 1600px) {
  :root {
    --p-150: 120px;
    --p-50: 30px;
    --p-40: 25px;
    --p-30: 24px;
    --p-20: 16px;
  }
  .btn {
    padding: 18px 36px;
  }
  .table > :not(caption) > * > * {
    padding: 24px 29px;
  }
  .country-select.inside input,
  .country-select.inside input[type="text"] {
    min-height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .form-control {
    min-height: 56px;
    padding: 16px 24px;
  }
  .card-tiers-item-content .btn {
    padding: 12px 36px;
  }
  .emvf-page-inner .btn {
    padding: 16px 50px;
  }
  .start-earning-area.pb-150 {
    padding-bottom: 190px;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399px) {
  .trade-margin-heading-right {
    margin-left: 0;
  }
  .trade-margin-heading-item .section-des {
    font-size: 14px;
    line-height: 21px;
  }
  .trade-top-item .section-des {
    font-size: 14px;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  /* root variabes */
  :root {
    /* theme common fonts size */
    --fs-65: 48px;
    --fs-45: 32px;
    --fs-26: 22px;
    --fs-20: 20px;
    --fs-18: 14px;
    /* theme common fonts size with line height */
    --lh-90: 72px;
    --lh-65: 48px;
    --lh-55: 55px;
    --lh-34: 33px;
    --lh-26: 21px;
    --lh-21: 21px;
    /* padding */
    --p-150: 75px;
    --p-50: 24px;
    --p-40: 18px;
    --p-30: 16px;
    --p-20: 16px;
  }
  .btn {
    padding: 16px 32px;
  }
  .table > :not(caption) > * > * {
    padding: 16px 18px;
  }
  .theme-th-styled {
    font-size: 16px;
    line-height: 100%;
  }
  .language-picker__button em,
  .section-des.section-des-other,
  .theme-nav .navbar .navbar-nav .nav-item a {
    font-size: 16px;
  }
  .navbar-nav.column-gap-6 {
    column-gap: 18px !important;
  }
  .card-tiers-items {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
  .trade-margin-heading-item .title {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }
  .trade-margin-top-bar.alert {
    max-height: 70px;
  }
  .trade-margin-inner-wrap {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
  .trade-margin-inner-middle {
    grid-column: auto;
  }
  .trade-margin-inner-middle {
    padding-top: 0;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .crypto-trader-items {
    gap: 16px;
    flex-wrap: wrap;
  }
  .owl-carousel.trusted-customers .owl-item {
    padding: 24px 16px;
  }
  .crypto-trader-item {
    padding: 32px 16px;
  }
  .crypto-trader-item .section-des {
    max-width: 305px;
    margin: 0 auto;
  }

  .page-title {
    font-size: 36px;
    line-height: 52px;
  }
  .start-earning-inner {
    padding-bottom: 20px;
  }
  .start-earning-area.pb-150 {
    padding-bottom: 75px;
  }
  .footer-inner-contant {
    padding-top: 75px;
  }
  .footer-right .theme-search-box-wrap,
  .footer-nav {
    margin-top: 20px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  :root {
    /* theme common fonts size */
    --fs-65: 48px;
    --fs-45: 24px;
    --fs-26: 20px;
    --fs-20: 18px;
    --fs-18: 14px;
    /* theme common fonts size with line height */
    --lh-90: 72px;
    --lh-65: 36px;
    --lh-55: 55px;
    --lh-34: 33px;
    --lh-26: 21px;
    --lh-21: 21px;
    /* padding */
    --p-150: 45px;
    --p-50: 20px;
    --p-40: 18px;
    --p-30: 16px;
    --p-20: 16px;
  }
  .btn {
    padding: 12px 24px;
  }
  .page-title {
    font-size: 28px;
    line-height: 46px;
  }
  .hero-area {
    padding: 100px 0;
  }
  .owl-carousel.trusted-customers .owl-nav {
    display: none;
  }
  .card-tiers-item {
    padding: 12px;
  }
  .card-tiers-item .btn {
    padding: 0;
    border: 0;
  }
  .card-tiers-item img {
    max-width: 17%;
  }
  .emvf-page-inner .btn {
    padding: 12px 32px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}
